.etud-table {
  border-collapse: collapse;
  width: 100%;
}
#classe {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.etud-table td,
.etud-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.etud-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.etud-table tr:hover {
  background-color: #ddd;
}

.etud-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(59, 58, 58);
  color: white;
}
.table-section {
  height: 60vh;
  overflow-y: auto;
}
.etud-container button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #af4c4c;
  width: 20vw;
  float: right;
  border: 0;
  margin: 10px 10px;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.etud-container h1 {
  color: #af4c4c;
}

@media (max-width: 599px) {
  .etud-container h1 {
    font-size: 14px;
    padding-top: 10px;
  }
}
